body{
    background-color: #101010 !important;
}

.card-div{
    display: flex;
    flex-wrap: wrap;
}

.card-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 2px solid rgb(198, 222, 207);
    border-radius: 5px;
    margin-top: 80px;
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

.logo-tecnologia{
    height: 72px;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 25px;

}

.div-logo-tecnologia{
    background-color: rgba(255, 255, 255, 0.907);
    padding-bottom: 20px;
    padding-top: 5px;
    margin-top: -15px;
    margin-left: -15px;
    margin-right: -15px;
}

.card-info, .card-info-salario{
    margin-top: 20px;
    margin-left: 5px;
}

.card-info h5, .card-info h3 {
    color: rgb(218, 218, 218);
}

.card-info h5 span , .card-info-salario  span, .card-info-salario h5{
    color: white;
}

.div-salario{
    display: flex;
    justify-content: space-around;
}

.card-info-salario{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-curiosidade{
    margin-top: 20px;
    color: #b5eabb;
}

.div-curiosidade h6{
    line-height: 24px;
}